header {background-color: pink;
height:200px;
body {
    min-width: 600px;
    margin: 5;
    background-color: #f7ee5S;
    color: #43455c;
    font-size: large;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;}
footer, #footer {background-color: pink;
      text-align: center;
    height:76px;}
  
  h1 #top { 
    font-weight: bold;
    font-size: 300%;
    color: #43455c; 
    text-align: center;
  }
  li  {font-size: large;
  }

  .img-right  {
    float: right;    
     margin: 0 0 0 15px;
    }
  #contact-box {width: 190px; height: 120px; 
    background-color:#e7cabb; 
    border-width: 1px; 
    border: 2px solid rgb(248, 235, 238);
    margin: 5px;
    border-radius: 25px; 
    padding-left: 15px;
    padding-bottom: 5px;}
  