header {background-color: pink;
  text-align: center;
height:200px;
color: white;
  text-shadow:
   -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;}
     header div {width: 60%:
    height: 150px}
nav {text-align: center;}
body {
    min-width: 600px;
    margin: 5;
    background-color: light-pink;
    color: #43455c;
    font-size: em4;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;}
footer {background-color: pink;
      text-align: center;
    height:76px;}
  
  h1 #top { 
    font-weight: bold;
    font-size: 300%;
    color: #43455c; 
    text-align: center;
  }
  li  {font-size: large;
  }

  .img-right  {
    float: right;    
     margin: 0 0 0 15px;
    }
  .txt-left {text-align: left; text-justify: auto;
  }
  #contact-box {width: 190px; height: 120px; 
    background-color:white; 
    border-width: 1px; 
    border: 2px solid rgb(110, 41, 73);
    margin: 5px;
    border-radius: 25px; 
    padding-left: 15px;
    padding-bottom: 5px;}
    .logo-frame {
      position: relative;
      top:-55px; 
      right:10px;
      float: right;
      width: 110px;
      height: 110px;
      border: 3px solid black;
      overflow: hidden;
      border-radius: 50%;
      background: white;
      margin: 5px;
      padding: 10px 10px;
    }
    
  
