header {background-color: pink;
height:200px;}
nav {text-align: center;}
body {
    min-width: 600px;
    margin: 5;
    background-color: light-pink;
    color: #43455c;
    font-size: em4;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;}
footer {background-color: pink;
      text-align: center;
    height:76px;}
  
  h1 #top { 
    font-weight: bold;
    font-size: 300%;
    color: #43455c; 
    text-align: center;
  }
  li  {font-size: large;
  }

  .img-right  {
    float: right;    
     margin: 0 0 0 15px;
    }
  .txt-left {align: left; text-justify: auto;
  }
  #contact-box {width: 190px; height: 120px; 
    background-color:white; 
    border-width: 1px; 
    border: 2px solid rgb(110, 41, 73);
    margin: 5px;
    border-radius: 25px; 
    padding-left: 15px;
    padding-bottom: 5px;}
